body {
  font-family: "Muli", sans-serif;
}

.btn-decrement {
  background: #18bc9c;
  text-transform: capitalize;
  font-size: 0.8rem;
  color: white;
  border: none;
  border-radius: 0.3em;
}

.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem;
  color: #2c3e50;
  border: 0.05rem solid black;
}
.btn-increment {
  background: #f39c12;
  text-transform: capitalize;
  font-size: 0.8rem;
  color: white;
  border: none;
  border-radius: 0.3em;
}
.btn-delete {
  background: #e74c3c;
  text-transform: capitalize;
  font-size: 0.8rem;
  color: white;
  border: none;
  border-radius: 0.3em;
}
.btn-primary {
  font-size: 0.8rem;
  color: white;
  letter-spacing: 1px;
  line-height: 15px;
  border: none;
  border-radius: 40px;
  background: #19bec8;
}
h1 {
  font-weight: bold;
  font-size: 2.5em;
}

p {
  font-size: 1.5em;
  color: #8a8a8a;
}
h3 {
  text-align: center;
}
h6 {
  text-align: center;
}
h4 {
  text-align: left;
  padding-left: 10px;
}
.light {
  color: gray;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}
.section {
  margin-top: 20px;
}

.wrapper {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}
.container {
  margin-top: 30px;
}
.table-wrapper {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input {
  width: 40px;
}
